<nav class="navbar navbar-default">
  <div class="wrapper">
      <div class="navbar-header">
          <a class="navbar-brand">
              MARZHAN M.V.
          </a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/items" class="">
            Items
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/new" class="">
            Create New
          </a>
        </li>
      </ul>
  </div>
</nav>
